.button {
	border-radius: 30px;
	cursor: pointer;
	border: none;
	& p {
		margin: 0;
	}

	&:disabled {
		cursor: default;
	}
}
.middle {
	width: 150px;
	height: 50px;
	background: #fe5f1e;
	padding: 13px;
	color: #ffffff;
	&:disabled {
		background: rgb(206, 203, 202);
	}
}

.small {
	width: 140px;
	height: 40px;
	border: 1px solid #eb5a1e;
	background: #ffffff;
	padding: 5px 10px;
	color: #eb5a1e;

	&:hover {
		background: #fe5f1e;
		color: #ffffff;
	}
}

.large {
	width: 211px;
	height: 55px;
}
