@import '../../mixins/mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

.logo {
	display: flex;
	align-items: center;
}

.logoImg {
	margin-right: 15px;
}

.logoText {
	display: flex;
	flex-direction: column;
}

.logoTitle {
	@include text-800;
}

.logoSubtitle {
	@include text-400;
	color: #7b7b7b;
}

.boxPrice {
	display: flex;
	align-items: center;
	justify-content: center;
}

.price {
	@include text-700;
}

.rub {
	@include text-700;
	margin-right: 13px;
}

.emptyBar {
	width: 1px;
	height: 25px;
	background: rgba(255, 255, 255, 0.25);
	margin-right: 13px;
}

.shopCart {
	@include text-700;
	margin-right: 8px;
}

.count {
	@include text-700;
}
