@mixin text-800 {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #181818;
	margin: 0;
}

@mixin text-400 {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

@mixin text-700 {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

