.slider {
	width: 280px;
	position: relative;
}

.img {
	width: 260px;
	height: 260px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 10px;
}

.prev,
.next {
	position: absolute;
	top: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	background-color: white;
	padding: 0;
	color: #fe5f1e;
	z-index: 100;
	background-color: transparent;

	svg {
		width: 20px;
		height: 20px;
	}
}

.prev {
	left: 5px;
}

.next {
	right: 5px;
}
